body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Change font-family as needed */
}

.video-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    text-align: center;
    z-index: 1;
    color: #ffffff; /* Text color */
    padding: 20px;
}

.content img {
    width: 100px; /* Adjust logo size as needed */
    height: auto;
    margin-bottom: 20px;
}
.login-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
  
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}